
#overdue {
	color: rgb(255, 0, 0);
}

.task-container-true{
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	text-align: left;
	padding: 3px;
	border-radius: 5px;
	margin-top: 0em;
    margin-right: auto ;
    margin-bottom: 1em;
    margin-left: auto;
	max-height: 100px;
	max-width: 500px;
    color: black;
	text-decoration: line-through;
	
}

.task-container-false{
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	text-align: left;
	padding: 3px;
	border-radius: 5px;
	margin-top: 0em;
    margin-right: auto ;
    margin-bottom: 1em;
    margin-left: auto;
	max-height: 100px;
	max-width: 500px;
    color: black;
	
}

.tasks-container {
	margin-top: 10px;
}

.button-submit{
	width: 100%;
}
.new-task-form{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.event{
	width: 73%;
	height: 56px;
}

.event_item{
	width: 73%;
	height: 56px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.ei_Title_task_true{
	font-size: 20px;
	color:#363b41;
	text-decoration: line-through;
  }

.ei_Title_task_false{
	font-size: 20px;
	color:#363b41;
	
  }
  
  .ei_Copy_task{
	font-size:12px;

  }

  .center{
	width:50%;
	box-shadow: 0px 0px 35px -16px rgba(0,0,0,0.75);
	font-family: 'Roboto', sans-serif;
	padding: 20px 30px;
	color:#363b41;
	display: inline-block;
	margin-top: 20px;
	background-color: #fff;
  }

  h1{
	  color: black;
  }

  